<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Tests"  parallel="none" thread-count="3">

    <test name="Login Firefox">
        <parameter name="browser" value="firefox"/>
        <groups>
           <run>
               <include name="Positive"/>
               <include name="Negative"/>
           </run>
       </groups>
    <classes>
        <class name="placelab.tests.PlacelabTest">
        </class>
        <class name="placelab.pages.LoginPage">

        </class>
        <class name="placelab.pages.Page">

        </class>

    </classes>
    </test>

    <test name="Login Edge">
        <parameter name="browser" value="edge"/>

        <groups>
            <run>
                <include name="Positive"/>
                <include name="Negative"/>
            </run>
        </groups>
        <classes>
            <class name="placelab.tests.PlacelabTest">
            </class>
            <class name="placelab.pages.LoginPage">

            </class>
            <class name="placelab.pages.Page">

            </class>
        </classes>
    </test>
</suite>